body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f4f4f4; */
    background-image: url("../images/111.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: rgba(255, 255, 255, 0.9);
    /* 透明度为0.9 */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.home-board {
    padding: 30px;
}

.home-profile-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: 70px;
}

.home-avatar-box {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
}

.home-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.home-info-box {
    flex: 1;
    text-align: center;
    margin-right: 20px;
}

.home-name {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-top: 0;
}

.home-signature {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

.home-details {
    font-size: 16px;
    color: #999;
    margin-bottom: 10px;
}

.edit-btn-container {
    margin-top: 20px;
}

.edit-btn {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.edit-btn:hover {
    background-color: #45a049;
}

.home-blog-box {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.home-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 0;
}

.return-btn-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    margin-left: 30px;
}

.return-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;

}

.return-btn:hover {
    color: #0056b3;
}

.home-blog-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.home-blog-item {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.home-blog-item .cover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    overflow: hidden;
}

.home-blog-item .cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-cover-link,
.blog-title-link,
.blog-content-link,
.read-more-link,
.release-date,
.comments,
.user {
    text-decoration: none;
    color: inherit;
}

.blog-title-link {
    display: block;
    margin-left: 24px;
    margin-right: 24px;
    /* 3 个字大小的间隔 */
}

.blog-content-link {
    display: block;
    margin-left: 24px;
    margin-right: 24px;
    /* 3 个字大小的间隔 */
}

.blog-title-link:hover {
    color: #5f6a6e;
}

.read-more-link:hover {
    color: #5f6a6e;
}

.meta-new {
    padding: 10px 20px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meta-new .pull-left,
.meta-new .pull-right {
    display: flex;
    align-items: center;
}

.meta-new .pull-left>*,
.meta-new .pull-right>* {
    margin-right: 10px;
}